@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

:root {
  --clr-bg: 0 0% 100%;
  --clr-text: 240 5% 7%;
  --visited-anchor: 263, 69%, 42%;

  @media(prefers-color-scheme: dark) {
    --clr-bg: 240 5% 7%;
    --clr-text: 0 0% 100%;
    --visited-anchor: 255, 92%, 76%;
  }
}

*,
*::before,
*::after { box-sizing: border-box; }

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html,
body { height: 100%; }

body {
  background-color: hsl(var(--clr-bg));
  min-height: 100dvh;

  display: grid;
  place-items: center;
  grid-template-rows: max-content 1fr;
  gap: 0.5rem;

  padding: 1rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: hsl(var(--clr-text));
}

h1 {
  font-size: clamp(2rem, 35vw + 1rem, 80rem);
}

a:visited {
  color: hsl(var(--visited-anchor));
}